*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html, body ,#root{
  height: 100%;
  width: 100%;
  font-family: consolas;
  background-color:rgb(238, 238, 243);
}
.App{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}
